/* PAGE */
body{
  background:black;
  color:white;
  font-family:Arial;
  text-align:center;
}

.hidden{
  display:none !important;
}

/* VIDEO CONTAINER */
#canvasArea{
  position:relative;
  display:inline-block;
}

/* VIDEO */
#video{
  width:90vw;
  max-width:480px;
  min-height:240px;
  background:black;
  border:2px solid cyan;
  border-radius:12px;
  position:relative;
  z-index:1;
}

/* OVERLAY FOR DOTS */
#points{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:2;
  pointer-events:none;   /* container ignores clicks */
}

/* CLICKABLE RED DOTS  ✅ name matches JS */
.marma-point{
  width:18px;
  height:18px;
  background:red;
  border:2px solid white;
  border-radius:50%;
  position:absolute;
  transform:translate(-50%, -50%);
  pointer-events:auto;   /* dots clickable */
  cursor:pointer;
  z-index:3;
}

/* FINGER BOX */
.box{
  border:2px dashed cyan;
  width:42px;
  height:120px;
  margin:auto;
}

/* HEIGHT BOX */
#heightBox{
  position:absolute;
  top:8%;
  left:50%;
  transform:translateX(-50%);
  border:2px dashed yellow;
  width:120px;
  height:200px;
  pointer-events:none;
  z-index:2;
}

/* POPUP CARD */
.popup{
  position:fixed;
  bottom:20px;
  left:50%;
  transform:translateX(-50%);
  background:#111;
  color:white;
  padding:18px;
  border-radius:14px;
  border:1px solid white;
  width:85%;
  z-index:9999;
}
