body{
  background:#000;
  color:#fff;
  text-align:center;
  font-family:Arial;
}

.screen{
  width:95%;
  margin:auto;
}

.hidden{
  display:none;
}

#fingerBox{
  width:250px;
  height:120px;
  margin:auto;
  border:2px dashed #00ffc8;
  position:relative;
}

#angulBox{
  height:100%;
  width:60px;
  background:#00ffc830;
  border:2px solid #00ffc8;
  margin:auto;
}

#heightBox{
  width:140px;
  height:300px;
  margin:auto;
  border:3px dashed #00ffc8;
}

#cameraContainer{
  width:95%;
  margin:auto;
  position:relative;
  border:3px solid #00ffc8;
  border-radius:18px;
}

video{
  width:100%;
  border-radius:18px;
}

#bodyFrame{
  position:absolute;
  inset:10px;
  border:2px solid #00ffc8;
  border-radius:18px;
}

.marma-point{
  width:16px;
  height:16px;
  background:red;
  border:2px solid white;
  border-radius:50%;
  position:absolute;
}

.popup{
  background:#fff;
  color:#000;
  width:85%;
  margin:15px auto;
  padding:12px;
  border-radius:16px;
}
