body{
  background:black;
  color:white;
  font-family:Arial;
  text-align:center;
}

.hidden{
  display:none;
}

/* VIDEO CONTAINER */
#canvasArea{
  position:relative;
  display:inline-block;
}

/* SINGLE VIDEO */
#video{
  width:90vw;
  max-width:480px;
  border:2px solid cyan;
  border-radius:12px;
}

/* DOT OVERLAY */
#points{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  pointer-events:auto;
}

/* RED DOTS */
.marma-point{
  width:16px;
  height:16px;
  background:red;
  border:2px solid white;
  border-radius:50%;
  position:absolute;
  transform:translate(-50%, -50%);
  cursor:pointer;
}

/* FINGER MEASUREMENT BOX */
.box{
  border:2px dashed cyan;
  width:42px;
  height:120px;
  margin:auto;
}

/* HEIGHT MEASUREMENT BOX */
#heightBox{
  position:absolute;
  top:8%;
  left:50%;
  transform:translateX(-50%);
  border:2px dashed yellow;
  width:120px;
  height:200px;
  pointer-events:none;
}

/* POPUP */
.popup{
  position:fixed;
  bottom:20px;
  left:50%;
  transform:translateX(-50%);
  background:#111;
  color:white;
  padding:18px;
  border-radius:14px;
  border:1px solid white;
  width:85%;
}
