body{
  background:black;
  color:white;
  font-family:Arial;
  text-align:center;
}

.hidden{ display:none; }

video{
  width:90%;
  border-radius:10px;
}

#cameraWrapper{
  position:relative;
}

#overlay{
  position:absolute;
  top:0;
  left:0;
  width:90%;
}

.marma-point{
  width:18px;
  height:18px;
  background:red;
  border-radius:50%;
  border:2px solid white;
  position:absolute;
}

.measure-rect{
  width:120px;
  height:200px;
  border:2px dashed cyan;
  margin:auto;
}

.popup{
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  background:white;
  color:black;
  padding:20px;
  border-radius:15px 15px 0 0;
}
